* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(68.15deg, #2457c7 0.62%, #3b9e99 95.61%);
  color: #fff;
  font-family: 'Space Mono', monospace;
  
  margin: 2% 0 2% 0;
  display: grid;
  place-items: center;
}

.numero-list {
  color: #5cf1f1;
}

fieldset {
  border: 0;
}

.campo {
  margin-bottom: 1em;
}

.campo label {
  margin-bottom: 0.2em;
  display: block;
}

.campo input, textarea {
  font-family: 'Space Mono', monospace;

  padding: 1%;
  opacity: 0.5;
  border: 1px solid #5cf1f1;
  outline: none;
  border-radius: 5px;
}

select {
  font-family: 'Space Mono', monospace;

  padding: 1%;
  width: 300px;
  opacity: 0.5;
  border: 1px solid #5cf1f1;
  outline: none;
  border-radius: 5px;
}

option {
  color: #000;
  font-family: 'Space Mono', monospace;
}

#titulo {
  font-size: 20px;
}

#nome, #sobrenome {
  width: 400px;
}

#email, #endereco, #ocupacao, #periodo-de-estudo {
  width: 812px;
}

.endereco {
  display: flex;
  gap: 1%;
  align-items: center;
}

.endereco #codigo-postal {
  padding: 3%;
  width: 123px;
}

#botao {
  background-color: #5cf1f1;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  
  border: none;
  border-radius: 5px;

  padding: 2%;
  width: 120px;

  cursor: pointer;

  transition: 300ms;
}

#botao:hover {
  opacity: 0.8;
}
